@use "../../../scss/" as *;

.form-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include mobile{
        margin-top: 10px;
    }
}


.contact-input {
    margin-top: 10px;
    width: 400px;
    border-radius: 20px;
    padding: 7px 13px 7px 13px;
    transition: all 500ms ease;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

    @include mobile{
        width: 330px;
        font-size: 19px;
    }
}

.contact-input:focus {
    background: rgb(27, 27, 27);
    outline: none;
}

.contact-textArea {
    margin-top: 15px;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    border: none;
    padding: 7px 13px 7px 13px;
    transition: all 500ms ease;
    background: black;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

    @include mobile{
        width: 330px;
        font-size: 19px;
    }
}

.contact-textArea:focus {
    background: rgb(27, 27, 27);
    outline: none;
}

.submitBtn {
    margin-top: 25px;
}

