@use "../../scss/" as *;

.footer {
    position: relative;
    padding-top: 50px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
        padding-bottom: 25px;
    }

    .footer-logo {
       display: flex;
        margin-bottom: 3rem;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 600;
    }

    p {
        padding: 10px;
        font-size: 18px;
        text-align: center;
        font-family: 'Lora', serif;
        font-style: italic;
        word-spacing: 1px;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-top: 100px;
        position: relative;

        @include mobile {
            
        }

        ::before{
            content: '';
            position: absolute;
            bottom: 50px;
            left: 32%;
            right: 50%;
            background-color: rgba(221, 221, 221, 0.58);
            height: 1px;
            width: 700px;

            @include mobile {
                width: 320px;
                left: 10%;
                bottom: 75px;
            }
        }

        
    }
    
    span {
        font-family: 'Lora', serif;
        text-transform: uppercase;
        opacity: 0.7;
    }

    &__content {

        &__menus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            position: relative;

            @include mobile {
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
            }

        }

        &__menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;

            &>*~* {
                margin-top: 1rem;
            }
        }
    }
}